<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="magexo_logger" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
            <group id="graphql" translate="label" type="text"  sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>GraphQl</label>
                <field id="permitted_endpoint" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Public Endpoint</label>
                    <comment><![CDATA[<strong class="colorRed">Warning!</strong> Specify public endpoint with ";" separator]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
